.heading{
  padding: 200px;
  background:url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}
.about{
  text-align: center;
}
.heading2{
  padding: 200px;
  background:url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}
.what_we_do_heading{

  text-align: center;
}

.col-md-4{
  flex: auto;
  text-align: center;

}

.row{

  display: flex;
  /* flex-direction: row; */

}
.title-up{
 text-align: center;
}

.five{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.five div{
  height:30%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.five img{
  width: 100%;
}
